<div class="row">
  <div class="col-xs-4 col-xs-offset-4 panel panel-body">
    <h4 class="text-center">Edit Movie Information</h4>

    <form action="/movies/{{movie.id}}?_method=PUT" method="POST" class="col-xs-8 col-xs-offset-2 text-center">
      <div class="form-group">
        <label for="new-title">Title</label> <input id="new-title" name="new-title" type="text" class="form-control text-center" value="{{movie.title}}">
      </div>
      <div class="form-group">
        <label for="new-director">Director</label> <input id="new-director" name="new-director" type="text" class="form-control text-center" value="{{movie.director}}">
      </div>
      <div class="form-group">
        <label for="new-year">Year</label> <input id="new-year" name="new-year" type="number" class="form-control text-center" value="{{movie.year}}">
      </div>
      <div class="form-group">
        <label for="new-rating">My Rating</label> <input id="new-rating" name="new-rating" type="number" min="0" max="5" class="form-control text-center" placeholder="0-5" value="{{movie.my_rating}}">
      </div>
      <div class="form-group">
        <label for="new-img-url">Poster URL</label> <input id="new-img-url" name="new-img-url" type="text" class="form-control text-center" value="{{movie.poster_url}}">
      </div>
      <div class="form-group text-center">
        <input class="btn btn-default" id="submit" type="submit">
      </div>
    </form>

  </div>

</div>
