<div class="row">
    <div class="container panel panel-default">

        <h2 class="col-xs-6">{{ heading }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Director</th>
                    <th>Year</th>
                    <th>My Rating</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each movies}}
                    <tr>
                        <td><img class="poster-thumb" src="{{poster_url}}" alt=""></td>
                        <td><a href="/movies/{{this.id}}">{{title}}</a></td>
                        <td>{{director}}</td>
                        <td>{{year}}</td>
                        <td>{{my_rating}}</td>
                        <td><form action="/movies/edit/{{id}}?_method=GET" method="GET"><input class="btn btn-default"   type="submit" name="edit" value="Edit"></form></td> 
                        <td><form action="/movies/{{id}}?_method=DELETE" method="POST"><input class="btn btn-default"   type="submit" name="delete" value="Delete"></form></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>
