<div class="row">
  <div class="container col-xs-8 col-xs-offset-2 panel panel-default text-center single-movie">
    <div class="col-xs-6">
      <img class="poster-lg" src="{{movie.poster_url}}" alt="">

    </div>

    <div class="col-xs-6 text-center">
      <h3>{{movie.title}}</h3>
      <table class="table single-table">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">Director:</td>
            <td class="text-right">{{movie.director}}</td>
          </tr>
          <tr>
            <td class="text-left">Year:</td>
            <td class="text-right">{{movie.year}}</td>
          </tr>
          <tr>
            <td class="text-left">My Rating:</td>
            <td class="text-right">{{movie.my_rating}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
